<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".plist" mimeType="text/plain" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".kml" mimeType="application/octet-stream" />
    </staticContent>
    <rewrite>
      <rules>
        <!-- <rule name="Redirect to https" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
        <match url="*" negate="false" />
        <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
        <add input="{HTTPS}" pattern="off" />
        </conditions>
        <action type="Redirect" url="https://localhost.vn" redirectType="Found" />
        </rule> -->
        <!-- Demo -->
        <rule name="API Rule" stopProcessing="true">
          <match url="^(oerpapi/api)(.*)$" />
          <action type="None" />
        </rule>
        <rule name="OERP_WEB" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
