app-videos-component {
    .lienketwebsite {
        background: url(/assets/Hinh/MD024/bg/left_bg.png) no-repeat scroll right center;
    }

    .list-group{
        max-height: 190px;
        margin-bottom: 10px;
    }

    .ps__rail-y{
        z-index: 900;
        opacity: 0.8;
    }
}