app-menu-component {
    .nav-item {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: white;
        white-space: nowrap;

        .nav-link {
            color: white !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        .nav-link:hover {
            color: yellow !important;
        }
    }

    .dropdown-item {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        padding-left: 10px;
    }

    @media all and (min-width: 992px) {
        .navbar-nav {
            flex-wrap: wrap;
        }

        .navbar .nav-item .dropdown-menu {
            display: none;
        }
        .navbar .nav-item:hover .nav-link {
            color: #fff;
        }
        .navbar .nav-item:hover .dropdown-menu {
            display: block;
        }
        .navbar .nav-item .dropdown-menu {
            margin-top: 0;
        }

        .dropdown-menu {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        .dropdown-item:hover {
            color: white;
            background-color: var(--item-hover-color);
        }
    }
}
